body {
  background-color: #faf8ef;
  overflow: hidden;
  padding: 0;
  margin: 0;
}


/* head */
.head {
  height: 120px;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

div.game {
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

div.description {
  height: 250px;
  width: 300px;
  top: 1000px;
  color: #333;
  font-family: nunito;
  transform: translate(-50%, -50%) scale(0);
  position: absolute;
  left: 50%;
  top: 425px;
  background: #fff;
  padding: 50px;
  border-radius: 3px;
  z-index: 1000;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  font-size: 15px;
  transition: 0.3s all;
}

.description.show {
  visibility: visible;
  opacity: 1;
  font-size: 15px;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.3s all;
}

.info {
  width: 120px;
  height: 45px;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: #8f7a66;
  color: #f9f6f2;
  font-size: 16px;
  transition: 0.1s background-color;
  text-transform: capitalize;
  font-family: nunito;
}

.info:hover {
  background-color: #9f8a76;
}

.repeat {
  margin: 0px !important;
}

/* Right side container for scores and button */
.head > div:last-child {
  display: flex;
  gap: 10px;
  align-items: center;
}

.a {
  font-family: Nunito;
  font-size: 80px;
  font-weight: 700;
  margin-right: 20px;
  color: #776e65;
  line-height: 1;
}

.score {
  position: relative;
  width: 80px;
  height: 50px;
  top: 0px;
  font-family: nunito;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: #bbada0;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score::before {
  content: attr(data-label);
  font-size: 11px;
  font-weight: 700;
  color: #eee4da;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2px;
}



/* field */
.field, .grid {
  position: absolute;
  width: 510px;
  height: 510px;
  background-color: #bbada0;
  top: 150px;
  border-radius: 6px;
  border: 15px solid #bbada0;
  display: table;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.field {
  z-index: 50;
}

.grid {
  z-index: 100;
}

.row, .grid_row {
  width: 510px;
  height: 135px;
  position: relative;
  display: table-row;
}

.cell, .grid_cell {
  background-color: white;
  width: 125px;
  height: 125px;
  position: relative;
  display: table-cell;
  border-radius: 3px;
  border: 7px solid #bbada0;
  text-align: center;
  vertical-align: middle;
  font-family: nunito;
  font-size: 50px;
}

.grid_cell {
  background-color: rgba(238, 228, 218, 0.35);
  color: white;
  
}

div > div > div > div {
  opacity: 0;
  position: absolute;
}

.tile {
  opacity: 1;
  width: 118px;
  height: 126px;
  background-color: #eee4da;
  z-index: 150;
  border-radius: 3px;
  font-weight: 700;
  top: 0;
  left: -1px;
  color: #776e65;
  transition: 0.3s all;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

/* Tile colors based on value */
.tile[data-value="2"] {
  background-color: #eee4da;
  color: #776e65;
}

.tile[data-value="4"] {
  background-color: #ede0c8;
  color: #776e65;
}

.tile[data-value="8"] {
  background-color: #f2b179;
  color: #f9f6f2;
}

.tile[data-value="16"] {
  background-color: #f59563;
  color: #f9f6f2;
}

.tile[data-value="32"] {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.tile[data-value="64"] {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.tile[data-value="128"] {
  background-color: #edcf72;
  color: #f9f6f2;
  font-size: 45px;
}

.tile[data-value="256"] {
  background-color: #edcc61;
  color: #f9f6f2;
  font-size: 45px;
}

.tile[data-value="512"] {
  background-color: #edc850;
  color: #f9f6f2;
  font-size: 45px;
}

.tile[data-value="1024"] {
  background-color: #edc53f;
  color: #f9f6f2;
  font-size: 35px;
}

.tile[data-value="2048"] {
  background-color: #edc22e;
  color: #f9f6f2;
  font-size: 35px;
}

#status {
  width: 100%;
  height: 100vh;
}

.won {
  background-color: #337538;
  transition: 0.3s all;
  
}

.lose {
  background-color: #7D3C34;
}
